<li id="{{this._id}}" class="list-group-item {{#if this.done}}checked{{/if}}" >
  <input type="checkbox" {{#if this.done}}checked{{/if}}>
  <span contenteditable="true">{{this.text}}</span>
  <a class="pull-right">x</a>
</li>
